/* screen - index */

.index {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 5302px;
  overflow: hidden;
  width: 1366px;
}

.index .navbar {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 102px;
  justify-content: flex-end;
  min-width: 1366px;
  padding: 0 392px;
}

.index .place {
  letter-spacing: 0;
  margin-bottom: 25.0px;
  min-height: 21px;
  min-width: 44px;
}

.index .process {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 25.0px;
  margin-left: 50px;
  min-height: 21px;
  min-width: 57px;
}

.index .logo_main {
  align-self: flex-end;
  height: 88px;
  margin-left: 39px;
  object-fit: cover;
  width: 104px;
}

.index .products {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 25.0px;
  margin-left: 36px;
  min-height: 21px;
  min-width: 66px;
}

.index .community {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 25.0px;
  margin-left: 50px;
  min-height: 21px;
  min-width: 87px;
}

.index .hero-frame-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 2.0px;
  min-width: 1368px;
}

.index .overlap-group {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842e6a60f3b9eae9189ba6/img/hero-banner--frame-1-@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 751px;
  min-width: 1366px;
  padding: 220px 507px;
}

.index .h1 {
  letter-spacing: 0;
  min-height: 85px;
  min-width: 351px;
  text-align: center;
}

.index .intro-frame-2 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842e6a60f3b9eae9189ba6/img/banner-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 577px;
  justify-content: flex-end;
  min-width: 1236px;
  padding: 63px 409px;
}

.index .banner-2-content {
  letter-spacing: 0;
  min-height: 342px;
  min-width: 417px;
  text-align: center;
}

.index .origin-frame-3 {
  align-items: flex-start;
  display: flex;
  height: 657px;
  min-width: 1236px;
  padding: 46px 0;
}

.index .map-1-2 {
  height: 548px;
  object-fit: cover;
  width: 520px;
}

.index .flex-col {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.0px;
  margin-left: 83px;
  min-height: 486px;
  width: 601px;
}

.index .origin {
  letter-spacing: 0;
  margin-left: 2.0px;
  min-height: 65px;
  min-width: 195px;
  text-align: center;
}

.index .sanganer-jaipur {
  color: var(--fuel-yellow);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: 0;
  margin-right: 1.0px;
  margin-top: 23px;
  min-height: 51px;
  min-width: 438px;
  text-align: center;
}

.index .the-heart-of-jaipur {
  letter-spacing: 0;
  margin-top: 32px;
  min-height: 315px;
  text-align: center;
  width: 601px;
}

.index .history-frame-4 {
  align-items: center;
  background-color: var(--fuel-yellow);
  display: flex;
  height: 571px;
  min-width: 1236px;
  padding: 0 64px;
}

.index .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 18.0px;
  min-height: 397px;
  width: 558px;
}

.index .history-heading {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxl22);
  font-weight: 800;
  letter-spacing: 0;
  margin-left: 1.0px;
  min-height: 65px;
  min-width: 235px;
  text-align: center;
}

.index .it-is-believed-that {
  letter-spacing: 0;
  margin-top: 38px;
  min-height: 294px;
  text-align: center;
  width: 558px;
}

.index .history-image {
  align-self: flex-end;
  height: 570px;
  margin-left: 103px;
  width: 411px;
}

.index .overlap-group1 {
  height: 2130px;
  position: relative;
  width: 1236px;
}

.index .present-status-of-craft-frame-6 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 748px;
  position: absolute;
  top: 1382px;
  width: 1236px;
}

.index .image_present-status {
  height: 290px;
  object-fit: cover;
  width: 1236px;
}

.index .flex-row {
  align-items: center;
  display: flex;
  height: 231px;
  margin-top: 95px;
  min-width: 1192px;
}

.index .heading_-present-status {
  letter-spacing: 0;
  margin-bottom: 9.0px;
  min-height: 130px;
  min-width: 445px;
}

.index .body {
  letter-spacing: 0;
  margin-left: 45px;
  min-height: 231px;
  width: 702px;
}

.index .image-banner-motifs {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842e6a60f3b9eae9189ba6/img/motifs-image@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 634px;
  left: 0;
  position: absolute;
  top: 748px;
  width: 1236px;
}

.index .motifs-frame-5 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 748px;
  padding: 41px 0;
  position: absolute;
  top: 0;
  width: 1236px;
}

.index .motifs-of-sanganeri-block-print {
  align-self: center;
  color: var(--irish-coffee);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxl22);
  font-weight: 800;
  letter-spacing: 0;
  margin-left: 1.0px;
  min-height: 65px;
  min-width: 983px;
  text-align: center;
}

.index .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 536px;
  margin-top: 64px;
  min-width: 1190px;
}

.index .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 536px;
  width: 871px;
}

.index .buta-and-buti {
  align-items: flex-start;
  display: flex;
  height: 154px;
  min-width: 865px;
}

.index .buta-and-buti-1 {
  letter-spacing: 0;
  min-height: 68px;
  width: 174px;
}

.index .kamal-buti-genda-but {
  letter-spacing: 0;
  line-height: 34px;
  margin-left: 20px;
  min-height: 152px;
  width: 139px;
}

.index .running-patterns-of {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 24px;
  min-height: 152px;
  width: 502px;
}

.index .bel {
  align-items: flex-start;
  display: flex;
  height: 154px;
  margin-top: 36px;
  min-width: 871px;
}

.index .bel-creepers {
  letter-spacing: 0;
  min-height: 68px;
  width: 174px;
}

.index .kangura-bel-keri-bel-suga-bel-dakh-bel {
  letter-spacing: 0;
  line-height: 34px;
  margin-left: 26px;
  min-height: 152px;
  width: 139px;
}

.index .jaal-is-a-compositio {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 24px;
  min-height: 152px;
  width: 502px;
}

.index .jaal {
  align-items: flex-start;
  display: flex;
  height: 154px;
  margin-top: 38px;
  min-width: 871px;
}

.index .jaal-nets {
  letter-spacing: 0;
  min-height: 68px;
  width: 174px;
}

.index .name {
  letter-spacing: 0;
  line-height: 34px;
  margin-left: 26px;
  min-height: 152px;
  width: 139px;
}

.index .destined-for-the-kin {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 24px;
  min-height: 152px;
  width: 502px;
}

.index .motif-image {
  height: 388px;
  margin-left: 23px;
  margin-top: 24px;
  width: 296px;
}

.index .footer {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842e6a60f3b9eae9189ba6/img/footer--bg@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 490px;
  justify-content: flex-end;
  margin-top: 24px;
  min-width: 1366px;
  padding: 57px 65px;
}

.index .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  min-height: 111px;
  width: 86px;
}

.index .place-1 {
  letter-spacing: 0;
  min-height: 21px;
}

.index .flex-col-item {
  letter-spacing: 0;
  margin-top: 9px;
  min-height: 21px;
}

.index .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 87px;
  margin-top: 15px;
  min-height: 111px;
  width: 226px;
}

.index .location {
  align-items: center;
  display: flex;
  height: 21px;
  min-width: 226px;
}

.index .location_on {
  height: 16px;
  margin-top: 1.0px;
  width: 16px;
}

.index .sanganer-jaipur-rajasthan {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 21px;
  min-width: 196px;
}

.index .contact {
  align-items: center;
  display: flex;
  height: 21px;
  margin-top: 24px;
  min-width: 135px;
}

.index .icon-call {
  height: 16px;
  margin-top: 1.0px;
  width: 16px;
}

.index .phone {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 21px;
  min-width: 105px;
}

.index .mail {
  align-items: center;
  display: flex;
  height: 21px;
  margin-top: 24px;
  min-width: 199px;
}

.index .mail_outline_24px {
  align-items: flex-start;
  display: flex;
  height: 16px;
  margin-top: 1.0px;
  min-width: 16px;
  padding: 2.0px 1.0px;
}

.index .icon-mail {
  height: 11px;
  width: 13px;
}

.index .supportgulbaharcom {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 21px;
  min-width: 169px;
}

.index .copyright-text {
  letter-spacing: 0;
  margin-left: 312px;
  min-height: 209px;
  min-width: 268px;
  text-align: right;
}
