/* screen - index */

.index {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 5302px;
  overflow: hidden;
  width: 1366px;
}

.index .navbar {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 102px;
  justify-content: flex-end;
  min-width: 1366px;
  padding: 0 392px;
}

.index .place {
  letter-spacing: 0;
  margin-bottom: 25.0px;
  min-height: 21px;
  min-width: 44px;
}

.index .process {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 25.0px;
  margin-left: 50px;
  min-height: 21px;
  min-width: 57px;
}

.index .logo_main {
  align-self: flex-end;
  height: 88px;
  margin-left: 39px;
  object-fit: cover;
  width: 104px;
}

.index .products {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 25.0px;
  margin-left: 36px;
  min-height: 21px;
  min-width: 66px;
}

.index .community {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 25.0px;
  margin-left: 50px;
  min-height: 21px;
  min-width: 87px;
}

.index .hero-frame-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 2.0px;
  min-width: 1368px;
}

.index .overlap-group {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842e6a60f3b9eae9189ba6/img/hero-banner--frame-1-@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 751px;
  min-width: 1366px;
  padding: 220px 507px;
}

.index .h1 {
  letter-spacing: 0;
  min-height: 85px;
  min-width: 351px;
  text-align: center;
}

.index .intro-frame-2 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842e6a60f3b9eae9189ba6/img/banner-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 577px;
  justify-content: flex-end;
  min-width: 1236px;
  padding: 63px 409px;
}

.index .banner-2-content {
  letter-spacing: 0;
  min-height: 342px;
  min-width: 417px;
  text-align: center;
}

.index .origin-frame-3 {
  align-items: flex-start;
  display: flex;
  height: 657px;
  min-width: 1236px;
  padding: 46px 0;
}

.index .map-1-2 {
  height: 548px;
  object-fit: cover;
  width: 520px;
}

.index .flex-col {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.0px;
  margin-left: 83px;
  min-height: 486px;
  width: 601px;
}

.index .origin {
  letter-spacing: 0;
  margin-left: 2.0px;
  min-height: 65px;
  min-width: 195px;
  text-align: center;
}

.index .sanganer-jaipur {
  color: var(--fuel-yellow);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: 0;
  margin-right: 1.0px;
  margin-top: 23px;
  min-height: 51px;
  min-width: 438px;
  text-align: center;
}

.index .the-heart-of-jaipur {
  letter-spacing: 0;
  margin-top: 32px;
  min-height: 315px;
  text-align: center;
  width: 601px;
}

.index .history-frame-4 {
  align-items: center;
  background-color: var(--fuel-yellow);
  display: flex;
  height: 571px;
  min-width: 1236px;
  padding: 0 64px;
}

.index .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 18.0px;
  min-height: 397px;
  width: 558px;
}

.index .history-heading {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxl22);
  font-weight: 800;
  letter-spacing: 0;
  margin-left: 1.0px;
  min-height: 65px;
  min-width: 235px;
  text-align: center;
}

.index .it-is-believed-that {
  letter-spacing: 0;
  margin-top: 38px;
  min-height: 294px;
  text-align: center;
  width: 558px;
}

.index .history-image {
  align-self: flex-end;
  height: 570px;
  margin-left: 103px;
  width: 411px;
}

.index .overlap-group1 {
  height: 2130px;
  position: relative;
  width: 1236px;
}

.index .present-status-of-craft-frame-6 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 748px;
  position: absolute;
  top: 1382px;
  width: 1236px;
}

.index .image_present-status {
  height: 290px;
  object-fit: cover;
  width: 1236px;
}

.index .flex-row {
  align-items: center;
  display: flex;
  height: 231px;
  margin-top: 95px;
  min-width: 1192px;
}

.index .heading_-present-status {
  letter-spacing: 0;
  margin-bottom: 9.0px;
  min-height: 130px;
  min-width: 445px;
}

.index .body {
  letter-spacing: 0;
  margin-left: 45px;
  min-height: 231px;
  width: 702px;
}

.index .image-banner-motifs {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842e6a60f3b9eae9189ba6/img/motifs-image@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 634px;
  left: 0;
  position: absolute;
  top: 748px;
  width: 1236px;
}

.index .motifs-frame-5 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 748px;
  padding: 41px 0;
  position: absolute;
  top: 0;
  width: 1236px;
}

.index .motifs-of-sanganeri-block-print {
  align-self: center;
  color: var(--irish-coffee);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxl22);
  font-weight: 800;
  letter-spacing: 0;
  margin-left: 1.0px;
  min-height: 65px;
  min-width: 983px;
  text-align: center;
}

.index .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 536px;
  margin-top: 64px;
  min-width: 1190px;
}

.index .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 536px;
  width: 871px;
}

.index .buta-and-buti {
  align-items: flex-start;
  display: flex;
  height: 154px;
  min-width: 865px;
}

.index .buta-and-buti-1 {
  letter-spacing: 0;
  min-height: 68px;
  width: 174px;
}

.index .kamal-buti-genda-but {
  letter-spacing: 0;
  line-height: 34px;
  margin-left: 20px;
  min-height: 152px;
  width: 139px;
}

.index .running-patterns-of {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 24px;
  min-height: 152px;
  width: 502px;
}

.index .bel {
  align-items: flex-start;
  display: flex;
  height: 154px;
  margin-top: 36px;
  min-width: 871px;
}

.index .bel-creepers {
  letter-spacing: 0;
  min-height: 68px;
  width: 174px;
}

.index .kangura-bel-keri-bel-suga-bel-dakh-bel {
  letter-spacing: 0;
  line-height: 34px;
  margin-left: 26px;
  min-height: 152px;
  width: 139px;
}

.index .jaal-is-a-compositio {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 24px;
  min-height: 152px;
  width: 502px;
}

.index .jaal {
  align-items: flex-start;
  display: flex;
  height: 154px;
  margin-top: 38px;
  min-width: 871px;
}

.index .jaal-nets {
  letter-spacing: 0;
  min-height: 68px;
  width: 174px;
}

.index .name {
  letter-spacing: 0;
  line-height: 34px;
  margin-left: 26px;
  min-height: 152px;
  width: 139px;
}

.index .destined-for-the-kin {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 24px;
  min-height: 152px;
  width: 502px;
}

.index .motif-image {
  height: 388px;
  margin-left: 23px;
  margin-top: 24px;
  width: 296px;
}

.index .footer {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842e6a60f3b9eae9189ba6/img/footer--bg@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 490px;
  justify-content: flex-end;
  margin-top: 24px;
  min-width: 1366px;
  padding: 57px 65px;
}

.index .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  min-height: 111px;
  width: 86px;
}

.index .place-1 {
  letter-spacing: 0;
  min-height: 21px;
}

.index .flex-col-item {
  letter-spacing: 0;
  margin-top: 9px;
  min-height: 21px;
}

.index .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 87px;
  margin-top: 15px;
  min-height: 111px;
  width: 226px;
}

.index .location {
  align-items: center;
  display: flex;
  height: 21px;
  min-width: 226px;
}

.index .location_on {
  height: 16px;
  margin-top: 1.0px;
  width: 16px;
}

.index .sanganer-jaipur-rajasthan {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 21px;
  min-width: 196px;
}

.index .contact {
  align-items: center;
  display: flex;
  height: 21px;
  margin-top: 24px;
  min-width: 135px;
}

.index .icon-call {
  height: 16px;
  margin-top: 1.0px;
  width: 16px;
}

.index .phone {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 21px;
  min-width: 105px;
}

.index .mail {
  align-items: center;
  display: flex;
  height: 21px;
  margin-top: 24px;
  min-width: 199px;
}

.index .mail_outline_24px {
  align-items: flex-start;
  display: flex;
  height: 16px;
  margin-top: 1.0px;
  min-width: 16px;
  padding: 2.0px 1.0px;
}

.index .icon-mail {
  height: 11px;
  width: 13px;
}

.index .supportgulbaharcom {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 21px;
  min-width: 169px;
}

.index .copyright-text {
  letter-spacing: 0;
  margin-left: 312px;
  min-height: 209px;
  min-width: 268px;
  text-align: right;
}
/* screen - process-final */

.process-final {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 6671px;
  width: 1366px;
}

.process-final .navbar {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 102px;
  justify-content: flex-end;
  min-width: 1366px;
  padding: 0 392px;
}

.process-final .place {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 25.0px;
  min-height: 21px;
  min-width: 44px;
}

.process-final .process {
  letter-spacing: 0;
  margin-bottom: 25.0px;
  margin-left: 50px;
  min-height: 21px;
  min-width: 57px;
}

.process-final .logo_main {
  align-self: flex-end;
  height: 88px;
  margin-left: 39px;
  object-fit: cover;
  width: 104px;
}

.process-final .products {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 25.0px;
  margin-left: 36px;
  min-height: 21px;
  min-width: 66px;
}

.process-final .community {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 25.0px;
  margin-left: 50px;
  min-height: 21px;
  min-width: 87px;
}

.process-final .how-its-made {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842b625603258f9e8dcb20/img/hero-banner@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 550px;
  justify-content: flex-end;
  margin-top: 16px;
  min-width: 1236px;
  padding: 208px 371px;
}

.process-final .h1 {
  color: var(--white);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxxl23);
  font-weight: 600;
  letter-spacing: 0;
  min-height: 85px;
  min-width: 493px;
  text-align: center;
}

.process-final .tools-and-raw-materials {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842b625603258f9e8dcb20/img/frame-2-banner@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 649px;
  margin-top: 8px;
  min-width: 1236px;
  padding: 259px 99px;
}

.process-final .h2-frame-2 {
  color: var(--fuel-yellow);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxl22);
  font-weight: 800;
  letter-spacing: 0;
  min-height: 130px;
  min-width: 441px;
  text-align: center;
}

.process-final .body1-frame-2 {
  align-self: center;
  letter-spacing: 0;
  line-height: 26px;
  margin-bottom: 13.0px;
  margin-left: 95px;
  min-height: 104px;
  min-width: 457px;
}

.process-final .wooden-blocks-metal-blocks {
  align-items: center;
  display: flex;
  margin-top: 8px;
  min-width: 1236px;
}

.process-final .image_frame3 {
  height: 649px;
  object-fit: cover;
  width: 464px;
}

.process-final .block-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 106px;
  margin-top: 26.0px;
  min-height: 461px;
  width: 568px;
}

.process-final .wooden-blocks {
  letter-spacing: 0;
  min-height: 48px;
}

.process-final .bodywooden-block {
  letter-spacing: 0;
  margin-top: 24px;
  min-height: 84px;
  width: 568px;
}

.process-final .metal-blocks {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 65px;
  min-height: 48px;
}

.process-final .bodymetal-block {
  letter-spacing: 0;
  margin-top: 24px;
  min-height: 168px;
  width: 568px;
}

.process-final .fabric-printing-table-wooden-tray {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  min-height: 542px;
  width: 1236px;
}

.process-final .frame4_banner {
  align-items: flex-start;
  display: flex;
  min-width: 1236px;
}

.process-final .frame4_banner-item {
  height: 305px;
  object-fit: cover;
  width: 618px;
}

.process-final .flex-row {
  align-items: flex-start;
  display: flex;
  height: 189px;
  margin-top: 48px;
  min-width: 1203px;
}

.process-final .fabric {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 335px;
}

.process-final .fabric-1 {
  letter-spacing: 0;
  min-height: 45px;
}

.process-final .bodymetal-block-1 {
  letter-spacing: 0;
  margin-top: 18px;
  min-height: 105px;
  width: 335px;
}

.process-final .printing-table {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 83px;
  min-height: 168px;
  width: 351px;
}

.process-final .printing-table-1 {
  letter-spacing: 0;
  min-height: 45px;
}

.process-final .bodymetal-block-2 {
  letter-spacing: 0;
  margin-top: 18px;
  min-height: 105px;
  width: 351px;
}

.process-final .wooden-tray {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 83px;
  min-height: 189px;
  width: 351px;
}

.process-final .wooden-tray-1 {
  letter-spacing: 0;
  min-height: 45px;
}

.process-final .bodymetal-block-3 {
  letter-spacing: 0;
  margin-top: 18px;
  min-height: 126px;
  width: 351px;
}

.process-final .chalk-etec {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842b625603258f9e8dcb20/img/tools-bg-frame5@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 679px;
  justify-content: flex-end;
  margin-top: 27px;
  min-width: 1236px;
  padding: 95px 80px;
}

.process-final .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 427px;
  width: 416px;
}

.process-final .chalk {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 81px;
  width: 359px;
}

.process-final .chalk-1 {
  letter-spacing: 0;
  min-height: 45px;
}

.process-final .chalk-body {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 24px;
}

.process-final .scale {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  min-height: 105px;
  width: 399px;
}

.process-final .scale-1 {
  letter-spacing: 0;
  min-height: 45px;
}

.process-final .scale-body {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 48px;
  width: 395px;
}

.process-final .brushes {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  min-height: 129px;
  width: 416px;
}

.process-final .brushes-1 {
  letter-spacing: 0;
  min-height: 45px;
}

.process-final .brushes-body {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 72px;
  width: 412px;
}

.process-final .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 97px;
  min-height: 427px;
  width: 559px;
}

.process-final .jute-cloth {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 105px;
  width: 416px;
}

.process-final .jute-cloth-1 {
  letter-spacing: 0;
  min-height: 45px;
}

.process-final .jute-body {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 48px;
  width: 412px;
}

.process-final .flex-col-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  min-height: 129px;
  width: 559px;
}

.process-final .trolley-tray {
  letter-spacing: 0;
  min-height: 45px;
}

.process-final .x-body {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 72px;
  width: 555px;
}

.process-final .natural-vegetable-dyes {
  letter-spacing: 0;
  min-height: 45px;
}

.process-final .printing-process {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  min-height: 664px;
  width: 1236px;
}

.process-final .overlap-group6 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62843080bd2b7a51b6e4777c/img/image-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 275px;
  justify-content: flex-end;
  min-width: 1236px;
  padding: 94px 310px;
}

.process-final .printing-process-1 {
  color: var(--ebony-clay);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxxl23);
  font-weight: 600;
  letter-spacing: 0;
  min-height: 85px;
  min-width: 615px;
  text-align: center;
}

.process-final .overlap-group5 {
  height: 358px;
  margin-left: -1px;
  margin-top: 32px;
  position: relative;
  width: 1238px;
}

.process-final .vector-1 {
  height: 168px;
  left: 94px;
  position: absolute;
  top: 99px;
  width: 1046px;
}

.process-final .overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 2px 2px 20px #d9d9d994;
  display: flex;
  flex-direction: column;
  left: 1044px;
  min-height: 208px;
  padding: 22px;
  position: absolute;
  top: 0;
  width: 194px;
}

.process-final .number {
  align-self: center;
  color: var(--irish-coffee);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxxl23);
  font-weight: 700;
  letter-spacing: 0;
  margin-right: 2.0px;
  min-height: 85px;
  min-width: 30px;
  text-align: center;
}

.process-final .dhulaai-washing {
  color: var(--irish-coffee);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 18px;
  min-height: 24px;
  min-width: 148px;
  text-align: center;
}

.process-final .overlap-group1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 2px 2px 20px #d9d9d994;
  display: flex;
  flex-direction: column;
  left: 783px;
  min-height: 208px;
  padding: 22px 28px;
  position: absolute;
  top: 150px;
  width: 194px;
}

.process-final .number-1 {
  align-self: center;
  color: var(--sweet-brown);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxxl23);
  font-weight: 700;
  letter-spacing: 0;
  margin-right: 2.0px;
  min-height: 85px;
  min-width: 34px;
  text-align: center;
}

.process-final .sukhaai-drying {
  color: var(--sweet-brown);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 18px;
  min-height: 24px;
  min-width: 137px;
  text-align: center;
}

.process-final .overlap-group2 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 2px 2px 20px #d9d9d994;
  display: flex;
  flex-direction: column;
  left: 522px;
  min-height: 208px;
  padding: 22px 21px;
  position: absolute;
  top: 1px;
  width: 194px;
}

.process-final .number-2 {
  align-self: center;
  color: var(--east-bay);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxxl23);
  font-weight: 700;
  letter-spacing: 0;
  margin-right: 2.0px;
  min-height: 85px;
  min-width: 32px;
  text-align: center;
}

.process-final .chhapai-printing {
  color: var(--east-bay);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 18px;
  min-height: 24px;
  min-width: 151px;
  text-align: center;
}

.process-final .overlap-group3 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 2px 2px 20px #d9d9d994;
  display: flex;
  flex-direction: column;
  left: 261px;
  min-height: 208px;
  padding: 22px 62px;
  position: absolute;
  top: 150px;
  width: 194px;
}

.process-final .number-3 {
  align-self: center;
  letter-spacing: 0;
  margin-right: 2.0px;
  min-height: 85px;
  min-width: 34px;
  text-align: center;
}

.process-final .marking {
  color: var(--viridian);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 18px;
  min-height: 24px;
  min-width: 69px;
  text-align: center;
}

.process-final .overlap-group4 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 2px 2px 20px #d9d9d994;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 208px;
  padding: 22px 44px;
  position: absolute;
  top: 0;
  width: 194px;
}

.process-final .number-4 {
  align-self: flex-end;
  color: var(--fuel-yellow);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxxl23);
  font-weight: 700;
  letter-spacing: 0;
  margin-right: 41px;
  min-height: 85px;
  min-width: 25px;
  text-align: center;
}

.process-final .hari-sarana-washing {
  color: var(--fuel-yellow);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 18px;
  min-height: 48px;
  min-width: 104px;
  text-align: center;
}

.process-final .process-1-5-detail {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 121px;
  min-height: 2084px;
  padding: 0 109px;
  width: 1236px;
}

.process-final .hari-sarana {
  align-items: center;
  display: flex;
  min-width: 984px;
}

.process-final .washing-image {
  height: 392px;
  object-fit: cover;
  width: 453px;
}

.process-final .washing-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 85.0px;
  margin-left: 62px;
  min-height: 177px;
  width: 465px;
}

.process-final .hari-sarana-washing-1 {
  color: var(--fuel-yellow);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxl2);
  font-weight: 800;
  letter-spacing: 0;
  margin-left: 1px;
  min-height: 48px;
}

.process-final .washing-body {
  letter-spacing: 0;
  margin-top: 24px;
  min-height: 105px;
  width: 465px;
}

.process-final .process-1-5-detail-item {
  align-items: center;
  display: flex;
  margin-top: 24px;
  min-width: 982px;
}

.process-final .marking-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 93.0px;
  min-height: 135px;
  width: 568px;
}

.process-final .marking-1 {
  letter-spacing: 0;
  margin-left: 1px;
  min-height: 48px;
}

.process-final .marking-body {
  letter-spacing: 0;
  margin-top: 24px;
  min-height: 63px;
  width: 568px;
}

.process-final .marking-2 {
  height: 394px;
  margin-left: 120px;
  object-fit: cover;
  width: 290px;
}

.process-final .chhapai {
  align-items: center;
  display: flex;
  margin-left: 1px;
  margin-top: 24px;
  min-width: 984px;
}

.process-final .chapaai {
  height: 393px;
  object-fit: cover;
  width: 453px;
}

.process-final .chhapai-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 11.0px;
  margin-left: 62px;
  min-height: 198px;
  width: 465px;
}

.process-final .chhapai-printing-1 {
  color: var(--east-bay);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxl2);
  font-weight: 800;
  letter-spacing: 0;
  margin-left: 1px;
  min-height: 48px;
}

.process-final .chhapai-body {
  letter-spacing: 0;
  margin-top: 24px;
  min-height: 126px;
  width: 465px;
}

.process-final .sukha-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 41.0px;
  min-height: 177px;
  width: 568px;
}

.process-final .sukhaai-drying-1 {
  color: var(--sweet-brown);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxl2);
  font-weight: 800;
  letter-spacing: 0;
  margin-left: 1px;
  min-height: 48px;
}

.process-final .sukhai-body {
  letter-spacing: 0;
  margin-top: 24px;
  min-height: 105px;
  width: 568px;
}

.process-final .sukhai {
  height: 442px;
  margin-left: 57px;
  object-fit: cover;
  width: 353px;
}

.process-final .dhulaai {
  align-items: center;
  display: flex;
  margin-top: 24px;
  min-width: 985px;
}

.process-final .dhulaai-image {
  height: 367px;
  object-fit: cover;
  width: 453px;
}

.process-final .dhulaai-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 48.0px;
  margin-left: 63px;
  min-height: 135px;
  width: 465px;
}

.process-final .dhulaai-washing-1 {
  color: var(--irish-coffee);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxl2);
  font-weight: 800;
  letter-spacing: 0;
  margin-left: 1px;
  min-height: 48px;
}

.process-final .dhulaai-body {
  letter-spacing: 0;
  margin-top: 24px;
  min-height: 63px;
  width: 465px;
}

.process-final .footer {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842e6a60f3b9eae9189ba6/img/footer--bg@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 490px;
  justify-content: flex-end;
  margin-top: 66px;
  min-width: 1366px;
  padding: 57px 65px;
}

.process-final .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  min-height: 111px;
  width: 86px;
}

.process-final .place-1 {
  letter-spacing: 0;
  min-height: 21px;
}

.process-final .flex-col-item-1 {
  letter-spacing: 0;
  margin-top: 9px;
  min-height: 21px;
}

.process-final .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 87px;
  margin-top: 15px;
  min-height: 111px;
  width: 226px;
}

.process-final .location {
  align-items: center;
  display: flex;
  height: 21px;
  min-width: 226px;
}

.process-final .location_on {
  height: 16px;
  margin-top: 1.0px;
  width: 16px;
}

.process-final .sanganer-jaipur-rajasthan {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 21px;
  min-width: 196px;
}

.process-final .contact {
  align-items: center;
  display: flex;
  height: 21px;
  margin-top: 24px;
  min-width: 135px;
}

.process-final .icon-call {
  height: 16px;
  margin-top: 1.0px;
  width: 16px;
}

.process-final .phone {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 21px;
  min-width: 105px;
}

.process-final .mail {
  align-items: center;
  display: flex;
  height: 21px;
  margin-top: 24px;
  min-width: 199px;
}

.process-final .mail_outline_24px {
  align-items: flex-start;
  display: flex;
  height: 16px;
  margin-top: 1.0px;
  min-width: 16px;
  padding: 2.0px 1.0px;
}

.process-final .icon-mail {
  height: 11px;
  width: 13px;
}

.process-final .supportgulbaharcom {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 21px;
  min-width: 169px;
}

.process-final .copyright-text {
  letter-spacing: 0;
  margin-left: 312px;
  min-height: 209px;
  min-width: 268px;
  text-align: right;
}
/* screen - products-final */

.products-final {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 4153px;
  overflow: hidden;
  width: 1366px;
}

.products-final .navbar {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 102px;
  justify-content: flex-end;
  min-width: 1366px;
  padding: 0 392px;
}

.products-final .place {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 25.0px;
  min-height: 21px;
  min-width: 44px;
}

.products-final .process {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 25.0px;
  margin-left: 50px;
  min-height: 21px;
  min-width: 57px;
}

.products-final .logo_main {
  align-self: flex-end;
  height: 88px;
  margin-left: 39px;
  object-fit: cover;
  width: 104px;
}

.products-final .products {
  letter-spacing: 0;
  margin-bottom: 25.0px;
  margin-left: 36px;
  min-height: 21px;
  min-width: 66px;
}

.products-final .community {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 25.0px;
  margin-left: 50px;
  min-height: 21px;
  min-width: 87px;
}

.products-final .gulbahar {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842b625603258f9e8dcb20/img/banner1-hero@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 693px;
  margin-top: 16px;
  width: 1236px;
}

.products-final .support-independent {
  align-items: flex-start;
  display: flex;
  height: 335px;
  margin-top: 16px;
  min-width: 1236px;
}

.products-final .overlap-group1 {
  height: 336px;
  margin-left: -1px;
  margin-top: -1px;
  position: relative;
  width: 1237px;
}

.products-final .process_block-3 {
  height: 215px;
  left: 0;
  mix-blend-mode: darken;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1237px;
}

.products-final .bedsheets {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 1000px;
  min-height: 194px;
  position: absolute;
  top: 142px;
  width: 136px;
}

.products-final .bedsheets-1 {
  height: 158px;
  margin-right: 2.0px;
  margin-top: -6px;
  width: 158px;
}

.products-final .bedsheets-2 {
  letter-spacing: 0;
  margin-right: 3.0px;
  margin-top: 10px;
  min-height: 32px;
  min-width: 111px;
  text-align: center;
}

.products-final .turbans {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 776px;
  min-height: 194px;
  position: absolute;
  top: 142px;
  width: 136px;
}

.products-final .turbans-1 {
  height: 158px;
  margin-right: 2.0px;
  margin-top: -6px;
  width: 158px;
}

.products-final .turbans-2 {
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 10px;
  min-height: 32px;
  min-width: 90px;
  text-align: center;
}

.products-final .jaipuri-razais {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 544px;
  min-height: 194px;
  position: absolute;
  top: 142px;
  width: 151px;
}

.products-final .razais {
  height: 158px;
  margin-left: -4px;
  margin-top: -6px;
  width: 158px;
}

.products-final .jaipuri-razais-1 {
  letter-spacing: 0;
  margin-top: 10px;
  min-height: 32px;
  min-width: 149px;
  text-align: center;
}

.products-final .suits-dupattas {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 302px;
  min-height: 194px;
  position: absolute;
  top: 142px;
  width: 186px;
}

.products-final .suitsdupatta {
  height: 154px;
  margin-top: -4px;
  width: 154px;
}

.products-final .suits-dupattas-1 {
  letter-spacing: 0;
  margin-right: 2.0px;
  margin-top: 12px;
  min-height: 32px;
  min-width: 184px;
  text-align: center;
}

.products-final .sarees {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 104px;
  min-height: 194px;
  position: absolute;
  top: 142px;
  width: 136px;
}

.products-final .saree {
  height: 134px;
  margin-right: 2.0px;
  width: 134px;
}

.products-final .sarees-1 {
  letter-spacing: 0;
  margin-right: 3.0px;
  margin-top: 28px;
  min-height: 32px;
  min-width: 71px;
  text-align: center;
}

.products-final .banner-2-heading {
  color: var(--white);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xl2);
  font-weight: 600;
  left: 325px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 52px;
}

.products-final .title-popular-recommendations {
  letter-spacing: 0;
  margin-left: 1.0px;
  margin-top: 119px;
  min-height: 45px;
  min-width: 391px;
  text-align: center;
}

.products-final .upgrade-your-bedroom {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842b625603258f9e8dcb20/img/bed-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 47px;
  min-height: 537px;
  padding: 62px 52px;
  width: 1236px;
}

.products-final .title {
  letter-spacing: 0;
  margin-top: 276px;
  min-height: 80px;
}

.products-final .bed-home-decor-under-rs999 {
  letter-spacing: 0;
  margin-left: 9px;
  margin-top: 16px;
  min-height: 41px;
}

.products-final .kurtis-sets {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842b625603258f9e8dcb20/img/kurtis---sets@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  min-height: 753px;
  padding: 62px 52px;
  width: 1236px;
}

.products-final .name {
  letter-spacing: 0;
  margin-top: 492px;
  min-height: 80px;
}

.products-final .starting-rs-499 {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 41px;
}

.products-final .title2-people-also-search-for {
  letter-spacing: 0;
  margin-left: 1.0px;
  margin-top: 51px;
  min-height: 45px;
  min-width: 339px;
  text-align: center;
}

.products-final .people-also-search-for-frame {
  align-items: flex-start;
  display: flex;
  height: 735px;
  margin-top: 53px;
  min-width: 1236px;
}

.products-final .get-all-cozy {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842e6a60f3b9eae9189ba6/img/quilt-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 735px;
  padding: 41px 52px;
  width: 602px;
}

.products-final .get-all-cozy-1 {
  letter-spacing: 0;
  min-height: 80px;
}

.products-final .under-rs299 {
  letter-spacing: 0;
  margin-top: 8px;
  min-height: 41px;
}

.products-final .pants {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842e6a60f3b9eae9189ba6/img/pants@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  min-height: 735px;
  padding: 30px 46px;
  width: 602px;
}

.products-final .pants-1 {
  letter-spacing: 0;
  margin-top: 546px;
  min-height: 80px;
}

.products-final .footer {
  align-items: flex-start;
  display: flex;
  margin-left: 2.0px;
  margin-top: 84px;
  min-width: 1366px;
  padding: 0 0.5px;
}

.products-final .overlap-group {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842e6a60f3b9eae9189ba6/img/footer--bg-2@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 490px;
  justify-content: flex-end;
  min-width: 1365px;
  padding: 57px 64.5px;
}

.products-final .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  min-height: 111px;
  width: 86px;
}

.products-final .place-1 {
  letter-spacing: 0;
  min-height: 21px;
}

.products-final .flex-col-item {
  letter-spacing: 0;
  margin-top: 9px;
  min-height: 21px;
}

.products-final .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 87px;
  margin-top: 15px;
  min-height: 111px;
  width: 226px;
}

.products-final .location {
  align-items: center;
  display: flex;
  height: 21px;
  min-width: 226px;
}

.products-final .location_on {
  height: 16px;
  margin-top: 1.0px;
  width: 16px;
}

.products-final .sanganer-jaipur-rajasthan {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 21px;
  min-width: 196px;
}

.products-final .contact {
  align-items: center;
  display: flex;
  height: 21px;
  margin-top: 24px;
  min-width: 135px;
}

.products-final .icon-call {
  height: 16px;
  margin-top: 1.0px;
  width: 16px;
}

.products-final .phone {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 21px;
  min-width: 105px;
}

.products-final .mail {
  align-items: center;
  display: flex;
  height: 21px;
  margin-top: 24px;
  min-width: 199px;
}

.products-final .mail_outline_24px {
  align-items: flex-start;
  display: flex;
  height: 16px;
  margin-top: 1.0px;
  min-width: 16px;
  padding: 2.0px 1.0px;
}

.products-final .icon-mail {
  height: 11px;
  width: 13px;
}

.products-final .supportgulbaharcom {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 21px;
  min-width: 169px;
}

.products-final .copyright-text {
  letter-spacing: 0;
  margin-left: 312px;
  min-height: 209px;
  min-width: 268px;
  text-align: right;
}
/* screen - community-final */

.community-final {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2759px;
  width: 1366px;
}

.community-final .navbar {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 102px;
  justify-content: flex-end;
  min-width: 1366px;
  padding: 0 392px;
}

.community-final .place {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 25.0px;
  min-height: 21px;
  min-width: 44px;
}

.community-final .process {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 25.0px;
  margin-left: 50px;
  min-height: 21px;
  min-width: 57px;
}

.community-final .logo_main {
  align-self: flex-end;
  height: 88px;
  margin-left: 39px;
  object-fit: cover;
  width: 104px;
}

.community-final .products {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 25.0px;
  margin-left: 36px;
  min-height: 21px;
  min-width: 66px;
}

.community-final .community {
  letter-spacing: 0;
  margin-bottom: 25.0px;
  margin-left: 50px;
  min-height: 21px;
  min-width: 87px;
}

.community-final .frame-1 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842e6a60f3b9eae9189ba6/img/banner1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 655px;
  margin-top: 16px;
  min-width: 1236px;
  padding: 97px 44px;
}

.community-final .banner-1-body {
  letter-spacing: 0;
  min-height: 168px;
  width: 834px;
}

.community-final .title-meet-the-artisans {
  color: var(--ebony-clay);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxxl22);
  font-weight: 600;
  letter-spacing: 0;
  margin-left: 1.0px;
  margin-top: 51px;
  min-height: 72px;
  min-width: 429px;
  text-align: center;
}

.community-final .rajkumar {
  align-items: center;
  display: flex;
  margin-top: 97px;
  min-width: 1236px;
}

.community-final .rajkumar-1 {
  align-self: flex-end;
  height: 440px;
  margin-bottom: 0;
  object-fit: cover;
  width: 664px;
}

.community-final .rajkumar-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 87.0px;
  margin-left: 56px;
  min-height: 245px;
  width: 465px;
}

.community-final .mr-rajkumar-pandey {
  letter-spacing: 0;
  margin-left: 1px;
  min-height: 53px;
}

.community-final .rajkumar-body {
  letter-spacing: 0;
  margin-top: 24px;
  min-height: 168px;
  width: 465px;
}

.community-final .santosh {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-top: 36px;
  min-width: 1236px;
  padding: 0 51px;
}

.community-final .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
  min-height: 339px;
  width: 465px;
}

.community-final .mr-santosh-dhanopia {
  letter-spacing: 0;
  min-height: 53px;
}

.community-final .sanotish-body {
  letter-spacing: 0;
  margin-top: 32px;
  min-height: 254px;
  width: 465px;
}

.community-final .santosh-1 {
  height: 443px;
  margin-left: 163px;
  object-fit: cover;
  width: 465px;
}

.community-final .bottom-separator {
  height: 184px;
  margin-top: 75px;
  object-fit: cover;
  width: 1236px;
}

.community-final .footer {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842e6a60f3b9eae9189ba6/img/footer--bg@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 490px;
  justify-content: flex-end;
  margin-top: 96px;
  min-width: 1366px;
  padding: 57px 65px;
}

.community-final .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  min-height: 111px;
  width: 86px;
}

.community-final .place-1 {
  letter-spacing: 0;
  min-height: 21px;
}

.community-final .flex-col-item {
  letter-spacing: 0;
  margin-top: 9px;
  min-height: 21px;
}

.community-final .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 87px;
  margin-top: 15px;
  min-height: 111px;
  width: 226px;
}

.community-final .location {
  align-items: center;
  display: flex;
  height: 21px;
  min-width: 226px;
}

.community-final .location_on {
  height: 16px;
  margin-top: 1.0px;
  width: 16px;
}

.community-final .sanganer-jaipur-rajasthan {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 21px;
  min-width: 196px;
}

.community-final .contact {
  align-items: center;
  display: flex;
  height: 21px;
  margin-top: 24px;
  min-width: 135px;
}

.community-final .icon-call {
  height: 16px;
  margin-top: 1.0px;
  width: 16px;
}

.community-final .phone {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 21px;
  min-width: 105px;
}

.community-final .mail {
  align-items: center;
  display: flex;
  height: 21px;
  margin-top: 24px;
  min-width: 199px;
}

.community-final .mail_outline_24px {
  align-items: flex-start;
  display: flex;
  height: 16px;
  margin-top: 1.0px;
  min-width: 16px;
  padding: 2.0px 1.0px;
}

.community-final .icon-mail {
  height: 11px;
  width: 13px;
}

.community-final .supportgulbaharcom {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 21px;
  min-width: 169px;
}

.community-final .copyright-text {
  letter-spacing: 0;
  margin-left: 312px;
  min-height: 209px;
  min-width: 268px;
  text-align: right;
}
