/* screen - process-final */

.process-final {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 6671px;
  width: 1366px;
}

.process-final .navbar {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 102px;
  justify-content: flex-end;
  min-width: 1366px;
  padding: 0 392px;
}

.process-final .place {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 25.0px;
  min-height: 21px;
  min-width: 44px;
}

.process-final .process {
  letter-spacing: 0;
  margin-bottom: 25.0px;
  margin-left: 50px;
  min-height: 21px;
  min-width: 57px;
}

.process-final .logo_main {
  align-self: flex-end;
  height: 88px;
  margin-left: 39px;
  object-fit: cover;
  width: 104px;
}

.process-final .products {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 25.0px;
  margin-left: 36px;
  min-height: 21px;
  min-width: 66px;
}

.process-final .community {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 25.0px;
  margin-left: 50px;
  min-height: 21px;
  min-width: 87px;
}

.process-final .how-its-made {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842b625603258f9e8dcb20/img/hero-banner@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 550px;
  justify-content: flex-end;
  margin-top: 16px;
  min-width: 1236px;
  padding: 208px 371px;
}

.process-final .h1 {
  color: var(--white);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxxl23);
  font-weight: 600;
  letter-spacing: 0;
  min-height: 85px;
  min-width: 493px;
  text-align: center;
}

.process-final .tools-and-raw-materials {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842b625603258f9e8dcb20/img/frame-2-banner@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 649px;
  margin-top: 8px;
  min-width: 1236px;
  padding: 259px 99px;
}

.process-final .h2-frame-2 {
  color: var(--fuel-yellow);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxl22);
  font-weight: 800;
  letter-spacing: 0;
  min-height: 130px;
  min-width: 441px;
  text-align: center;
}

.process-final .body1-frame-2 {
  align-self: center;
  letter-spacing: 0;
  line-height: 26px;
  margin-bottom: 13.0px;
  margin-left: 95px;
  min-height: 104px;
  min-width: 457px;
}

.process-final .wooden-blocks-metal-blocks {
  align-items: center;
  display: flex;
  margin-top: 8px;
  min-width: 1236px;
}

.process-final .image_frame3 {
  height: 649px;
  object-fit: cover;
  width: 464px;
}

.process-final .block-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 106px;
  margin-top: 26.0px;
  min-height: 461px;
  width: 568px;
}

.process-final .wooden-blocks {
  letter-spacing: 0;
  min-height: 48px;
}

.process-final .bodywooden-block {
  letter-spacing: 0;
  margin-top: 24px;
  min-height: 84px;
  width: 568px;
}

.process-final .metal-blocks {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 65px;
  min-height: 48px;
}

.process-final .bodymetal-block {
  letter-spacing: 0;
  margin-top: 24px;
  min-height: 168px;
  width: 568px;
}

.process-final .fabric-printing-table-wooden-tray {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  min-height: 542px;
  width: 1236px;
}

.process-final .frame4_banner {
  align-items: flex-start;
  display: flex;
  min-width: 1236px;
}

.process-final .frame4_banner-item {
  height: 305px;
  object-fit: cover;
  width: 618px;
}

.process-final .flex-row {
  align-items: flex-start;
  display: flex;
  height: 189px;
  margin-top: 48px;
  min-width: 1203px;
}

.process-final .fabric {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 335px;
}

.process-final .fabric-1 {
  letter-spacing: 0;
  min-height: 45px;
}

.process-final .bodymetal-block-1 {
  letter-spacing: 0;
  margin-top: 18px;
  min-height: 105px;
  width: 335px;
}

.process-final .printing-table {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 83px;
  min-height: 168px;
  width: 351px;
}

.process-final .printing-table-1 {
  letter-spacing: 0;
  min-height: 45px;
}

.process-final .bodymetal-block-2 {
  letter-spacing: 0;
  margin-top: 18px;
  min-height: 105px;
  width: 351px;
}

.process-final .wooden-tray {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 83px;
  min-height: 189px;
  width: 351px;
}

.process-final .wooden-tray-1 {
  letter-spacing: 0;
  min-height: 45px;
}

.process-final .bodymetal-block-3 {
  letter-spacing: 0;
  margin-top: 18px;
  min-height: 126px;
  width: 351px;
}

.process-final .chalk-etec {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842b625603258f9e8dcb20/img/tools-bg-frame5@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 679px;
  justify-content: flex-end;
  margin-top: 27px;
  min-width: 1236px;
  padding: 95px 80px;
}

.process-final .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 427px;
  width: 416px;
}

.process-final .chalk {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 81px;
  width: 359px;
}

.process-final .chalk-1 {
  letter-spacing: 0;
  min-height: 45px;
}

.process-final .chalk-body {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 24px;
}

.process-final .scale {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  min-height: 105px;
  width: 399px;
}

.process-final .scale-1 {
  letter-spacing: 0;
  min-height: 45px;
}

.process-final .scale-body {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 48px;
  width: 395px;
}

.process-final .brushes {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  min-height: 129px;
  width: 416px;
}

.process-final .brushes-1 {
  letter-spacing: 0;
  min-height: 45px;
}

.process-final .brushes-body {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 72px;
  width: 412px;
}

.process-final .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 97px;
  min-height: 427px;
  width: 559px;
}

.process-final .jute-cloth {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 105px;
  width: 416px;
}

.process-final .jute-cloth-1 {
  letter-spacing: 0;
  min-height: 45px;
}

.process-final .jute-body {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 48px;
  width: 412px;
}

.process-final .flex-col-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  min-height: 129px;
  width: 559px;
}

.process-final .trolley-tray {
  letter-spacing: 0;
  min-height: 45px;
}

.process-final .x-body {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 72px;
  width: 555px;
}

.process-final .natural-vegetable-dyes {
  letter-spacing: 0;
  min-height: 45px;
}

.process-final .printing-process {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  min-height: 664px;
  width: 1236px;
}

.process-final .overlap-group6 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62843080bd2b7a51b6e4777c/img/image-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 275px;
  justify-content: flex-end;
  min-width: 1236px;
  padding: 94px 310px;
}

.process-final .printing-process-1 {
  color: var(--ebony-clay);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxxl23);
  font-weight: 600;
  letter-spacing: 0;
  min-height: 85px;
  min-width: 615px;
  text-align: center;
}

.process-final .overlap-group5 {
  height: 358px;
  margin-left: -1px;
  margin-top: 32px;
  position: relative;
  width: 1238px;
}

.process-final .vector-1 {
  height: 168px;
  left: 94px;
  position: absolute;
  top: 99px;
  width: 1046px;
}

.process-final .overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 2px 2px 20px #d9d9d994;
  display: flex;
  flex-direction: column;
  left: 1044px;
  min-height: 208px;
  padding: 22px;
  position: absolute;
  top: 0;
  width: 194px;
}

.process-final .number {
  align-self: center;
  color: var(--irish-coffee);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxxl23);
  font-weight: 700;
  letter-spacing: 0;
  margin-right: 2.0px;
  min-height: 85px;
  min-width: 30px;
  text-align: center;
}

.process-final .dhulaai-washing {
  color: var(--irish-coffee);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 18px;
  min-height: 24px;
  min-width: 148px;
  text-align: center;
}

.process-final .overlap-group1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 2px 2px 20px #d9d9d994;
  display: flex;
  flex-direction: column;
  left: 783px;
  min-height: 208px;
  padding: 22px 28px;
  position: absolute;
  top: 150px;
  width: 194px;
}

.process-final .number-1 {
  align-self: center;
  color: var(--sweet-brown);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxxl23);
  font-weight: 700;
  letter-spacing: 0;
  margin-right: 2.0px;
  min-height: 85px;
  min-width: 34px;
  text-align: center;
}

.process-final .sukhaai-drying {
  color: var(--sweet-brown);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 18px;
  min-height: 24px;
  min-width: 137px;
  text-align: center;
}

.process-final .overlap-group2 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 2px 2px 20px #d9d9d994;
  display: flex;
  flex-direction: column;
  left: 522px;
  min-height: 208px;
  padding: 22px 21px;
  position: absolute;
  top: 1px;
  width: 194px;
}

.process-final .number-2 {
  align-self: center;
  color: var(--east-bay);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxxl23);
  font-weight: 700;
  letter-spacing: 0;
  margin-right: 2.0px;
  min-height: 85px;
  min-width: 32px;
  text-align: center;
}

.process-final .chhapai-printing {
  color: var(--east-bay);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 18px;
  min-height: 24px;
  min-width: 151px;
  text-align: center;
}

.process-final .overlap-group3 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 2px 2px 20px #d9d9d994;
  display: flex;
  flex-direction: column;
  left: 261px;
  min-height: 208px;
  padding: 22px 62px;
  position: absolute;
  top: 150px;
  width: 194px;
}

.process-final .number-3 {
  align-self: center;
  letter-spacing: 0;
  margin-right: 2.0px;
  min-height: 85px;
  min-width: 34px;
  text-align: center;
}

.process-final .marking {
  color: var(--viridian);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 18px;
  min-height: 24px;
  min-width: 69px;
  text-align: center;
}

.process-final .overlap-group4 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 2px 2px 20px #d9d9d994;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 208px;
  padding: 22px 44px;
  position: absolute;
  top: 0;
  width: 194px;
}

.process-final .number-4 {
  align-self: flex-end;
  color: var(--fuel-yellow);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxxl23);
  font-weight: 700;
  letter-spacing: 0;
  margin-right: 41px;
  min-height: 85px;
  min-width: 25px;
  text-align: center;
}

.process-final .hari-sarana-washing {
  color: var(--fuel-yellow);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 18px;
  min-height: 48px;
  min-width: 104px;
  text-align: center;
}

.process-final .process-1-5-detail {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 121px;
  min-height: 2084px;
  padding: 0 109px;
  width: 1236px;
}

.process-final .hari-sarana {
  align-items: center;
  display: flex;
  min-width: 984px;
}

.process-final .washing-image {
  height: 392px;
  object-fit: cover;
  width: 453px;
}

.process-final .washing-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 85.0px;
  margin-left: 62px;
  min-height: 177px;
  width: 465px;
}

.process-final .hari-sarana-washing-1 {
  color: var(--fuel-yellow);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxl2);
  font-weight: 800;
  letter-spacing: 0;
  margin-left: 1px;
  min-height: 48px;
}

.process-final .washing-body {
  letter-spacing: 0;
  margin-top: 24px;
  min-height: 105px;
  width: 465px;
}

.process-final .process-1-5-detail-item {
  align-items: center;
  display: flex;
  margin-top: 24px;
  min-width: 982px;
}

.process-final .marking-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 93.0px;
  min-height: 135px;
  width: 568px;
}

.process-final .marking-1 {
  letter-spacing: 0;
  margin-left: 1px;
  min-height: 48px;
}

.process-final .marking-body {
  letter-spacing: 0;
  margin-top: 24px;
  min-height: 63px;
  width: 568px;
}

.process-final .marking-2 {
  height: 394px;
  margin-left: 120px;
  object-fit: cover;
  width: 290px;
}

.process-final .chhapai {
  align-items: center;
  display: flex;
  margin-left: 1px;
  margin-top: 24px;
  min-width: 984px;
}

.process-final .chapaai {
  height: 393px;
  object-fit: cover;
  width: 453px;
}

.process-final .chhapai-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 11.0px;
  margin-left: 62px;
  min-height: 198px;
  width: 465px;
}

.process-final .chhapai-printing-1 {
  color: var(--east-bay);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxl2);
  font-weight: 800;
  letter-spacing: 0;
  margin-left: 1px;
  min-height: 48px;
}

.process-final .chhapai-body {
  letter-spacing: 0;
  margin-top: 24px;
  min-height: 126px;
  width: 465px;
}

.process-final .sukha-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 41.0px;
  min-height: 177px;
  width: 568px;
}

.process-final .sukhaai-drying-1 {
  color: var(--sweet-brown);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxl2);
  font-weight: 800;
  letter-spacing: 0;
  margin-left: 1px;
  min-height: 48px;
}

.process-final .sukhai-body {
  letter-spacing: 0;
  margin-top: 24px;
  min-height: 105px;
  width: 568px;
}

.process-final .sukhai {
  height: 442px;
  margin-left: 57px;
  object-fit: cover;
  width: 353px;
}

.process-final .dhulaai {
  align-items: center;
  display: flex;
  margin-top: 24px;
  min-width: 985px;
}

.process-final .dhulaai-image {
  height: 367px;
  object-fit: cover;
  width: 453px;
}

.process-final .dhulaai-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 48.0px;
  margin-left: 63px;
  min-height: 135px;
  width: 465px;
}

.process-final .dhulaai-washing-1 {
  color: var(--irish-coffee);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxl2);
  font-weight: 800;
  letter-spacing: 0;
  margin-left: 1px;
  min-height: 48px;
}

.process-final .dhulaai-body {
  letter-spacing: 0;
  margin-top: 24px;
  min-height: 63px;
  width: 465px;
}

.process-final .footer {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6282d7a52ceb42186d160b73/releases/62842e6a60f3b9eae9189ba6/img/footer--bg@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 490px;
  justify-content: flex-end;
  margin-top: 66px;
  min-width: 1366px;
  padding: 57px 65px;
}

.process-final .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  min-height: 111px;
  width: 86px;
}

.process-final .place-1 {
  letter-spacing: 0;
  min-height: 21px;
}

.process-final .flex-col-item-1 {
  letter-spacing: 0;
  margin-top: 9px;
  min-height: 21px;
}

.process-final .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 87px;
  margin-top: 15px;
  min-height: 111px;
  width: 226px;
}

.process-final .location {
  align-items: center;
  display: flex;
  height: 21px;
  min-width: 226px;
}

.process-final .location_on {
  height: 16px;
  margin-top: 1.0px;
  width: 16px;
}

.process-final .sanganer-jaipur-rajasthan {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 21px;
  min-width: 196px;
}

.process-final .contact {
  align-items: center;
  display: flex;
  height: 21px;
  margin-top: 24px;
  min-width: 135px;
}

.process-final .icon-call {
  height: 16px;
  margin-top: 1.0px;
  width: 16px;
}

.process-final .phone {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 21px;
  min-width: 105px;
}

.process-final .mail {
  align-items: center;
  display: flex;
  height: 21px;
  margin-top: 24px;
  min-width: 199px;
}

.process-final .mail_outline_24px {
  align-items: flex-start;
  display: flex;
  height: 16px;
  margin-top: 1.0px;
  min-width: 16px;
  padding: 2.0px 1.0px;
}

.process-final .icon-mail {
  height: 11px;
  width: 13px;
}

.process-final .supportgulbaharcom {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 21px;
  min-width: 169px;
}

.process-final .copyright-text {
  letter-spacing: 0;
  margin-left: 312px;
  min-height: 209px;
  min-width: 268px;
  text-align: right;
}
