:root { 
  --black: #000000;
  --fuel-yellow: #efa82c;
  --irish-coffee: #613d1a;
  --sweet-brown: #a33b2b;
  --viridian: #3e8273;
  --white: #ffffff;

  --font-size-l2: 22px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xl: 28px;
  --font-size-xxl: 44px;
  --font-size-xxxl2: 64px;
  --font-size-xxxl22: 54px;

  --font-family-arial-bold: "Arial-Bold", Helvetica;
  --font-family-lato: "Lato", Helvetica;
  --font-family-playfair_display: "Playfair Display", Helvetica;
}
.playfairdisplay-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.playfairdisplay-semi-bold-irish-coffee-16px {
  color: var(--irish-coffee);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.lato-extra-bold-sweet-brown-28px {
  color: var(--sweet-brown);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 800;
}

.lato-semi-bold-viridian-22px {
  color: var(--viridian);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 600;
}

.playfairdisplay-normal-fuel-yellow-16px {
  color: var(--fuel-yellow);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.lato-extra-bold-sweet-brown-54px {
  color: var(--sweet-brown);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxl22);
  font-style: normal;
  font-weight: 800;
}

.playfairdisplay-bold-viridian-64px {
  color: var(--viridian);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxxl2);
  font-style: normal;
  font-weight: 700;
}

.playfairdisplay-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.playfairdisplay-normal-viridian-16px {
  color: var(--viridian);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.playfairdisplay-normal-irish-coffee-16px {
  color: var(--irish-coffee);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.playfairdisplay-medium-viridian-16px {
  color: var(--viridian);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.playfairdisplay-normal-fuel-yellow-14px {
  color: var(--fuel-yellow);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}
:root {
  --alto: #dadada;
  --black: #000000;
  --east-bay: #3d5182;
  --ebony-clay: #263242;
  --fuel-yellow: #efa82c;
  --irish-coffee: #613d1a;
  --mine-shaft: #333333;
  --sweet-brown: #a33b2b;
  --viridian: #3e8273;
  --white: #ffffff;

  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xxl2: 34px;
  --font-size-xxxl2: 40px;
  --font-size-xxxl22: 54px;
  --font-size-xxxl23: 64px;

  --font-family-lato: "Lato", Helvetica;
  --font-family-playfair_display: "Playfair Display", Helvetica;
}
.playfairdisplay-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.playfairdisplay-medium-fuel-yellow-34px {
  color: var(--fuel-yellow);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxl2);
  font-style: normal;
  font-weight: 500;
}

.playfairdisplay-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.playfairdisplay-normal-irish-coffee-16px {
  color: var(--irish-coffee);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.playfairdisplay-normal-mine-shaft-16px {
  color: var(--mine-shaft);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.playfairdisplay-semi-bold-irish-coffee-16px {
  color: var(--irish-coffee);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.lato-extra-bold-viridian-40px {
  color: var(--viridian);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxl2);
  font-style: normal;
  font-weight: 800;
}

.playfairdisplay-medium-viridian-34px {
  color: var(--viridian);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxl2);
  font-style: normal;
  font-weight: 500;
}

.playfairdisplay-bold-viridian-64px {
  color: var(--viridian);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxxl23);
  font-style: normal;
  font-weight: 700;
}

.playfairdisplay-normal-fuel-yellow-14px {
  color: var(--fuel-yellow);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.border-1px-alto {
  border: 1px solid var(--alto);
}
:root {
  --black: #000000;
  --ebony-clay: #263242;
  --fuel-yellow: #efa82c;
  --irish-coffee: #613d1a;
  --white: #ffffff;

  --font-size-m2: 16px;
  --font-size-s: 14px;
  --font-size-xl: 24px;
  --font-size-xl2: 28px;
  --font-size-xxl2: 34px;
  --font-size-xxxxl: 60px;

  --font-family-lato: "Lato", Helvetica;
  --font-family-playfair_display: "Playfair Display", Helvetica;
}
.playfairdisplay-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 400;
}

.playfairdisplay-medium-irish-coffee-24px {
  color: var(--irish-coffee);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.playfairdisplay-semi-bold-irish-coffee-16px {
  color: var(--irish-coffee);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 600;
}

.playfairdisplay-semi-bold-white-60px {
  color: var(--white);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 600;
}

.lato-normal-white-34px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxl2);
  font-style: normal;
  font-weight: 400;
}

.playfairdisplay-semi-bold-ebony-clay-34px {
  color: var(--ebony-clay);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxl2);
  font-style: normal;
  font-weight: 600;
}

.playfairdisplay-normal-fuel-yellow-14px {
  color: var(--fuel-yellow);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}
:root {
  --black: #000000;
  --ebony-clay: #263242;
  --fuel-yellow: #efa82c;
  --irish-coffee: #613d1a;
  --mexican-red: #a32929;
  --white: #ffffff;

  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xxxl: 40px;
  --font-size-xxxl22: 54px;

  --font-family-playfair_display: "Playfair Display", Helvetica;
}
.playfairdisplay-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.playfairdisplay-semi-bold-irish-coffee-16px {
  color: var(--irish-coffee);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.playfairdisplay-normal-mexican-red-40px {
  color: var(--mexican-red);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.playfairdisplay-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.playfairdisplay-normal-fuel-yellow-14px {
  color: var(--fuel-yellow);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}
